<h1>About Us</h1>
This website was created to satisfy part of the requirements for coder academys fast track boot camp

This application is a Ruby on rails website that acts as a two-sided marketplace on which users engage in the buying and selling of cat photos. 
This website acts as a prototype/proof-of-concept for a website that would act as a two-sided marketplace similar to eBay for the trading of NFTs, non-fungible tokens. 
Because at this stage creating a new blockchain, and scoping out the various options for possible currencies or cryptocurrencies to be used in a 
final version of this type of marketplace is impossible within the time limits placed on the developer by the assignment, blockchain support will be added later.